/dist
.idea/
node_modules/
.env
.env.local
/src/generated/prisma

# Base de données SQLite (ne pas versionner)
*.db
*.db-journal

# Fichier de log de l'application quand utilisée en mode REPL
prisma.log